<h1>Convert <%=@initial_currency%></h1>

<p>Go <a href = "/forex">back</a>.</p>


<ul>
  <%@symbols_hash.each do |a_symbol|%>
    <li>
      <a href="/forex/<%=@initial_currency%>/<%=a_symbol%>">
        Convert 1 <%=@initial_currency%> to <%=a_symbol%> 
      </a>
    </li>
  <%end%>
</ul>
