<h1>Convert <%=@initial_currency%> to <%=@ending_currency%></h1>

<p> 1 <%=@initial_currency%> equals <%=@conversion%> <%=@ending_currency%>.</p>

<p>Go <a href = "/forex/<%=@initial_currency%>">back</a>.</p>
